/* laptops and computers */

@media(min-width:1008px){
    
body{
    text-align: center;
    background-color: black;
}
.middle{
    background-color: #c1e1ec ;
}
.intro{
    height:600px;
    color:#D00000;
}
.name {
    font-size: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #ffecd1;
    color:#D00000;
}
.main-name{
    font-size: 50px;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: #ffecd1;
    color:#D00000;
}
.introduction{
    text-align: center;
    font-size: 20px;
    color: #ffecd1;
    color:#D00000;
}
.photo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 100px;
}
.background-image{
    height: 600px;
    width: 1800px;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-bottom: 3px solid #032B43;
}
.preface{
    text-align: center;
    color:#D00000;
    background-color: #c1e1ec ;
    border-bottom: 3px solid #032B43;
}
.hi{
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
}
.secondintro{
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    font-weight: 200;
    height: 90px;
}
.skills{
    background-color: #c1e1ec ;
    height: 300px;
    color:#5D3A00;
    border-bottom: 3px solid #032B43;
}
.skill-heading{
    text-align: center;
}
.programming{
    float:left;
    width:90vh;
    background-color: #c1e1ec ;
    font-size: 30px;
    border: 5px solid #032B43;
    margin-left: 30px;
}
.programmingpic{
    height:220px;
    width: 200px;
    float:left;
}

.introonprogram{
    color:#D00000;
    font-family: 'Outfit', sans-serif;
    margin-left: 10px;
}
.web-developement{
    float:right;
    width:90vh;
    background-color: #c1e1ec ;
    border: 5px solid #032B43;
    margin-right: 30px;
}
.webdevpic{
    height:220px;
    width: 200px;
    float:left;
}
.introonwebdev{
    color:#D00000;
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
    margin-left: 20px;
}
.contact{
    border-bottom: 3px solid #032B43;
    height: 120px;
}
.contactme{
    text-align: center;
    color:#5D3A00;
}
.linkedin{
    color:#D00000;
    text-decoration: none;
    font-size: 30px;
    border: 5px solid #032B43;
    margin-left: 580px;

}
.mail{
    color:#D00000;
    text-decoration: none;
    font-size: 30px;
    border: 5px solid #032B43;
    margin-left: 120px;
}

.footer{
    background-color: #c1e1ec ;
    border-bottom: 3px solid #032B43;
    color:#D00000;
}
}

/* tablets */

@media(min-width:641px)and (max-width:1007px){
    body{
        text-align: center;
        background-color: black;
    }
    .middle{
        background-color: #c1e1ec ;
        width: 1007px;
    }
    .intro{
        height:600px;
        color:#D00000;
    }
    .name {
        font-size: 25px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        color: #ffecd1;
        color:#D00000;
    }
    .main-name{
        font-size: 36px;
        text-align: center;
        font-family: 'Caveat', cursive;
        color: #ffecd1;
        color:#D00000;
    }
    .introduction{
        text-align: center;
        font-size: 20px;
        margin-left: 20px;
        color: #ffecd1;
        color:#D00000;
    }
    .photo{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: 100px;
    }
    .background-image{
        height: 600px;
        width: 1007px;
        position:absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        border-bottom: 3px solid #032B43;
    }
    .preface{
        text-align: center;
        color:#D00000;
        width: 1007px;
        background-color: #c1e1ec ;
        border-bottom: 3px solid #032B43;
    }
    .hi{
        font-family: 'Source Code Pro', monospace;
        font-weight: 100;
    }
    .secondintro{
        font-family: 'Outfit', sans-serif;
        font-size: 25px;
        height: 90px;
        width:1007px;
        margin-left: px;
        position: relative;
    }
    .skills{
        background-color: #c1e1ec ;
        height: 300px;
        width: 1007px;
        color:#5D3A00;
        border-bottom: 3px solid #032B43;
    }
    .skill-heading{
        text-align: center;
        font-size: 25px;
    }
    .programming{
        float:left;
        width:70vh;
        background-color: #c1e1ec ;
        font-size: 25px;
        border: 4px solid #032B43;
        margin-left: 10px;
    }
    .programmingpic{
        height:150px;
        width: 150px;
        float:left;
    }
    
    .introonprogram{
        color:#D00000;
        font-family: 'Outfit', sans-serif;
        margin-left: 10px;
    }
    .web-developement{
        float:right;
        height: 250px;
        width:70vh;
        background-color: #c1e1ec ;
        border: 4px solid #032B43;
        margin-right: px;
    }
    .webdevpic{
        height:150px;
        width: 150px;
        float:left;
    }
    .introonwebdev{
        color:#D00000;
        font-size: 25px;
        font-family: 'Outfit', sans-serif;
        margin-left: 20px;
    }
    .contact{
        border-bottom: 3px solid #032B43;
        height: 120px;
    }
    .contactme{
        text-align: center;
        color:#5D3A00;
    }
    .linkedin{
        color:#D00000;
        text-decoration: none;
        font-size: 30px;
        border: 5px solid #032B43;
        margin-left: 280px;
    
    }
    .mail{
        color:#D00000;
        text-decoration: none;
        font-size: 30px;
        border: 5px solid #032B43;
        margin-left: 120px;
    }
    
    .footer{
        background-color: #c1e1ec ;
        border-bottom: 3px solid #032B43;
        color:#D00000;
        width: 1007px;
    }
}

/* mobiles */

@media(max-width:640px){
    body{
        text-align: center;
        background-color: black;
    }
    .middle{
        background-color: #c1e1ec ;
        width: 640px;
    }
    .intro{
        height:600px;
        color:#D00000;
    }
    .name {
        font-size: 20px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        color:#D00000;
    }
    .main-name{
        font-size: 35px;
        text-align: center;
        font-family: 'Caveat', cursive;
        color:#D00000;
    }
    .introduction{
        text-align: center;
        font-size: 20px;
        color:#D00000;
    }
    .photo{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: 100px;
    }
    .background-image{
        height: 600px;
        width: 640px;
        position:absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        border-bottom: 3px solid #032B43;
    }
    .preface{
        text-align: center;
        color:#D00000;
        background-color: #c1e1ec ;
        border-bottom: 3px solid #032B43;
        position: relative;
    }
    .hi{
        font-family: 'Source Code Pro', monospace;
        font-size: 25px;
        font-weight: 500;
    }
    .secondintro{
        font-family: 'Outfit', sans-serif;
        font-size: 20px;
        font-weight: 100;
        height: 90px;
        width:640px;
        position: relative;
    }
    .skills{
        background-color: #c1e1ec ;
        height: 300px;
        color:#5D3A00;
        border-bottom: 3px solid #032B43;
    }
    .skill-heading{
        text-align: center;
        font-size: 25px;
    }
    .programming{
        float:left;
        width:90vh;
        background-color: #c1e1ec ;
        font-size: 20px;
        border: 4px solid #032B43;
        margin-left: 30px;
    }
    .programmingpic{
        height:110px;
        width: 110px;
        float:left;
    }
    
    .introonprogram{

        color:#D00000;
        font-family: 'Outfit', sans-serif;
        margin-left: 10px;
    }
    .web-developement{
        float:left;
        width:90vh;
        background-color: #c1e1ec ;
        border: 4px solid #032B43;
        margin-top: 10px;
        margin-left: 30px;
    }
    .webdevpic{
        height:110px;
        width: 110px;
        float:left;
    }
    .introonwebdev{
        color:#D00000;
        font-size: 20px;
        font-family: 'Outfit', sans-serif;
        margin-left: 20px;
    }
    .contact{
        border-bottom: 3px solid #032B43;
        height: 100px;
    }
    .contactme{
        text-align: center;
        color:#5D3A00;
    }
    .linkedin{
        color:#D00000;
        text-decoration: none;
        font-size: 20px;
        border: 4px solid #032B43;
        margin-left: 120px;
    }
    .mail{
        color:#D00000;
        text-decoration: none;
        font-size: 20px;
        border: 4px solid #032B43;
        margin-left: 120px;
    }
    
    .footer{
        background-color: #c1e1ec ;
        border-bottom: 3px solid #032B43;
        color:#D00000;
        width: 640px;
    }
}
